Fluxo_N8N_Agenda.json
{
  "name": "Agenda PRO - N8N + Google Meet + Evolution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-pro-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook (Recebe da Agenda)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "=primary",
        "start": "={{ $json.body.data_aula }}T{{ $json.body.hora_aula }}:00-03:00",
        "end": "={{ $json.body.data_aula }}T{{ $json.body.hora_aula.split(':')[0] % 24 + 1 }}:{{ $json.body.hora_aula.split(':')[1] }}:00-03:00",
        "summary": "=Mentoria: {{ $json.body.nome }}",
        "conferencing": "hangoutsMeet",
        "options": {}
      },
      "id": "node-google-calendar",
      "name": "Gerar Sala G-Meet",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"meet_link\": \"{{ $json.hangoutLink }}\",\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "id": "node-respond-webhook",
      "name": "Responder ao Site da Agenda",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp_limpo",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.whatsapp.replace(/[^0-9]/g, '') }}"
            },
            {
              "name": "mensagem_dia_anterior",
              "value": "=Olá {{ $('Webhook (Recebe da Agenda)').item.json.body.nome }}! \nPassando para lembrar que amanhã é o dia da nossa Mentoria 😊. \nO encontro será às {{ $('Webhook (Recebe da Agenda)').item.json.body.hora_aula }}h.\n\nAqui está o link exclusivo do seu portal privativo:\n{{ $('Webhook (Recebe da Agenda)').item.json.body.link_portal_aluno }}\n(Você acessará a sala gravada lá no futuro)"
            },
            {
              "name": "mensagem_hora",
              "value": "=Oi {{ $('Webhook (Recebe da Agenda)').item.json.body.nome }}, nossa mentoria vai começar daqui a pouquinho (em uns 10 minutinhos)!\n\nAcabei de gerar nossa sala oficial do Google Meet, acesse por aqui:\n{{ $('Gerar Sala G-Meet').item.json.hangoutLink }}\n\nEstou te aguardando lá!"
            }
          ]
        },
        "options": {}
      },
      "id": "node-preparar-dados",
      "name": "Preparar Mensagens EVOLUTION",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "node-wait-24h",
      "name": "Aguardar (24h Antes)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [ 800, 300 ],
      "notesInFlow": true,
      "notes": "Aqui o workflow aguarda o dia anterior para lembrar o aluno."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api-sua-evolution.com/message/sendText/NOME_DA_SUA_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp_limpo }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $json.mensagem_dia_anterior }}\"\n  }\n}",
        "options": {}
      },
      "id": "node-evolution-24h",
      "name": "Evolution: Msg Lembrete (24h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1000, 300 ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "node-wait-10m",
      "name": "Aguardar (10 Min Antes)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [ 1200, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api-sua-evolution.com/message/sendText/NOME_DA_SUA_INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Preparar Mensagens EVOLUTION').item.json.whatsapp_limpo }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $('Preparar Mensagens EVOLUTION').item.json.mensagem_hora }}\"\n  }\n}",
        "options": {}
      },
      "id": "node-evolution-hora",
      "name": "Evolution: Msg da Aula c/ Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1400, 300 ]
    }
  ],
  "connections": {
    "Webhook (Recebe da Agenda)": {
      "main": [
        [
          {
            "node": "Gerar Sala G-Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Sala G-Meet": {
      "main": [
        [
          {
            "node": "Responder ao Site da Agenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Mensagens EVOLUTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagens EVOLUTION": {
      "main": [
        [
          {
            "node": "Aguardar (24h Antes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar (24h Antes)": {
      "main": [
        [
          {
            "node": "Evolution: Msg Lembrete (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution: Msg Lembrete (24h)": {
      "main": [
        [
          {
            "node": "Aguardar (10 Min Antes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar (10 Min Antes)": {
      "main": [
        [
          {
            "node": "Evolution: Msg da Aula c/ Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
