Fluxo_N8N_Agenda.json
{
  "name": "Agenda PRO - N8N + Google Meet + Evolution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-pro-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook (Recebe da Agenda)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "=primary",
        "start": "={{ $json.body.data_aula }}T{{ $json.body.hora_aula }}:00-03:00",
        "end": "={{ $json.body.data_aula }}T{{ (parseInt($json.body.hora_aula.split(':')[0]) + 1).toString().padStart(2,'0') }}:{{ $json.body.hora_aula.split(':')[1] }}:00-03:00",
        "summary": "=Mentoria: {{ $json.body.nome }}",
        "additionalFields": {
          "conferenceDataVersion": 1,
          "conferenceData": {
            "createRequest": {
              "requestId": "={{ $json.body.agenda_id }}"
            }
          }
        },
        "options": {}
      },
      "id": "node-google-calendar",
      "name": "Gerar Sala G-Meet",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "IMPORTANTE: Clique aqui, vá em Credentials e conecte seu Google Workspace com OAuth2."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"meet_link\": \"{{ $json.hangoutLink || '' }}\",\n  \"calendar_event_id\": \"{{ $json.id || '' }}\",\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "id": "node-respond-webhook",
      "name": "Devolver Link ao Site",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "whatsapp_limpo",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.whatsapp.replace(/[^0-9]/g, '') }}"
            },
            {
              "name": "nome_aluno",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.nome }}"
            },
            {
              "name": "data_aula",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.data_aula }}"
            },
            {
              "name": "hora_aula",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.hora_aula }}"
            },
            {
              "name": "link_portal",
              "value": "={{ $('Webhook (Recebe da Agenda)').item.json.body.link_portal_aluno }}"
            },
            {
              "name": "link_meet",
              "value": "={{ $('Gerar Sala G-Meet').item.json.hangoutLink || $('Webhook (Recebe da Agenda)').item.json.body.link_reuniao || 'Link será enviado em breve' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-preparar-dados",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "unit": "hours",
        "amount": "={{ (() => { const agora = new Date(); const [ano, mes, dia] = $json.data_aula.split('-'); const [h, m] = $json.hora_aula.split(':'); const aula = new Date(ano, mes-1, dia, h, m); const diffMs = aula - agora - (24*60*60*1000); return Math.max(0, Math.floor(diffMs / 3600000)); })() }}"
      },
      "id": "node-wait-24h",
      "name": "Esperar ate 24h Antes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canaisdarks.com.br/message/sendText/LA CASA DARK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9CE479CBC886-42E7-A1A6-85D06B9DC78D"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp_limpo }}@s.whatsapp.net\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"Oi {{ $json.nome_aluno }}! 😊\\n\\nPassando pra lembrar que amanhã temos nossa Mentoria marcada às *{{ $json.hora_aula }}h*.\\n\\n📚 Acesse seu portal de aulas aqui:\\n{{ $json.link_portal }}\\n\\nNos vemos amanhã! 🚀\"\n  }\n}",
        "options": {}
      },
      "id": "node-evolution-24h",
      "name": "WhatsApp: Lembrete 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "amount": 23,
        "unit": "hours"
      },
      "id": "node-wait-10m",
      "name": "Esperar ate 10min Antes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canaisdarks.com.br/message/sendText/LA CASA DARK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9CE479CBC886-42E7-A1A6-85D06B9DC78D"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp_limpo }}@s.whatsapp.net\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"Fala {{ $json.nome_aluno }}! ⏰\\n\\nNossa mentoria começa em *10 minutinhos*!\\n\\n🎥 Entra na sala por aqui:\\n{{ $json.link_meet }}\\n\\nTe espero lá! 💪\"\n  }\n}",
        "options": {}
      },
      "id": "node-evolution-hora",
      "name": "WhatsApp: Link da Aula 10min",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "Webhook (Recebe da Agenda)": {
      "main": [
        [
          {
            "node": "Gerar Sala G-Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Sala G-Meet": {
      "main": [
        [
          {
            "node": "Devolver Link ao Site",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Esperar ate 24h Antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar ate 24h Antes": {
      "main": [
        [
          {
            "node": "WhatsApp: Lembrete 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp: Lembrete 24h": {
      "main": [
        [
          {
            "node": "Esperar ate 10min Antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar ate 10min Antes": {
      "main": [
        [
          {
            "node": "WhatsApp: Link da Aula 10min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
